/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

body, .grid-col-2__text, .right-column__text-highlighted, .right-column__text {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.left-column__text, h3, h2, .copyright__text, .link-decoration, .grid-col-2__title {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.container {
  background-color: #0e1014;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  padding: 20px 0;
  height: 73px;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9.4rem;
}

.header__logo {
  display: flex;
  position: relative;
  cursor: pointer;
}

.header__logo-text {
  display: inline-block;
  color: #e4e5ea;
  font-size: 1rem;
  line-height: normal;
  font-weight: 300;
  font-style: normal;
  width: 165px;
  position: absolute;
  left: 0;
  top: 35px;
}

.header__navigation {
  margin: 0 145px 0 15px;
}

.purple-ball {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 850px;
  filter: drop-shadow(3px 6px 27px rgba(177, 118, 217, 0.25)) blur(5px);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.col-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 61px;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 330px;
}

.right-column__text {
  align-self: flex-end;
  margin-bottom: 40px;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 500;
  font-style: normal;
  text-align: right;
  text-align: right;
}

.right-column__text-highlighted {
  background: var(--gradient, linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  text-align: right;
}

.grid-col-2__title {
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 6px;
}

.grid-col-2__text {
  text-align: right;
  margin: 0;
}

.footer {
  margin: 60px 0 20px 0;
}

.footer__contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.layout-3-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 52px;
       column-gap: 52px;
}

.footer__links {
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0 0;
}

.footer__link {
  text-decoration: none;
  color: #e4e5ea;
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
}

.footer__title {
  display: inline-block;
  color: #656566;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.footer__contents-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__links-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.footer__link-address {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
}

.copyright {
  margin-top: 30px;
  align-self: flex-end;
  text-align: right;
}

.link-decoration {
  text-decoration: underline;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 400;
  font-style: normal;
}

.copyright__text {
  margin: 0 0 5px 0;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-color: #0e1014;
  margin: 0 auto;
  color: #e4e5ea;
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 4.8rem;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

h2 {
  font-size: 1.8rem;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

h3 {
  font-size: 1.6rem;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

h4 {
  margin: 0;
}

.ico {
  cursor: pointer;
  display: inline-block;
}

.ico_telegram {
  background-image: url("../img/telegram.svg");
  width: 20px;
  height: 20px;
}

.ico_viber {
  background-image: url("../img/viber.svg");
  width: 20px;
  height: 20px;
}

.ico_whatsup {
  background-image: url("../img/whatsapp.svg");
  width: 20px;
  height: 20px;
}

.navigation {
  display: flex;
  gap: 30px;
  list-style-type: none;
  cursor: pointer;
}

.navigation__link:hover {
  color: white;
}

.link-tel {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  color: #e4e5ea;
  cursor: pointer;
}
.link-tel:hover {
  color: white;
}

.link_button {
  text-decoration: none;
  cursor: pointer;
}

.socials {
  display: flex;
  gap: 27px;
  list-style-type: none;
  margin-left: 9px;
}

.socials__item {
  list-style-type: none;
}

.main {
  position: relative;
}

.highlighted-text {
  background: url(../img/with-WELBEX.svg) no-repeat;
  width: 247px;
  height: 58px;
  display: inline-block;
  margin-top: 10px;
}

.red-ball {
  width: 83px;
  height: 83px;
  flex-shrink: 0;
  filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25));
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  position: absolute;
  top: 55px;
  left: 510px;
}

.red-ball__small {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25)) blur(2.5px);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  position: absolute;
  top: 37vh;
  right: 500px;
}

.main__wrapper {
  margin-top: 74px;
}

.left-column__title {
  width: 362px;
}

.left-column__text {
  margin-top: 30px;
  width: 275px;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 400;
  font-style: normal;
}

.right-column__text {
  width: 291px;
}

.main__button {
  width: 262px;
  height: 61px;
  flex-shrink: 0;
  background: #4077f3;
  color: #e4e5ea;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
  border: none;
}/*# sourceMappingURL=style.css.map */