$color-background-page: #0e1014;
$color-text: #e4e5ea;
$color-text-secondary: #656566;

$page-width: 1440px;
$content-width: 1140px;
$content-width-laptop: 900px;
$content-width-tablet: 600px;
$content-width-mobile-big: 400px;
$content-width-mobile-small: 300px;

$laptop-width: 1200px;
$tablet-width: 768px;
$mobile-big-width: 425px;
$mobile-small-width: 320px;
