.col-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include media-mobilesmall {
    flex-direction: column;
    row-gap: 15px;
    text-align: left;
  }
}

.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 61px;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 330px;
}

.right-column__text {
  align-self: flex-end;
  margin-bottom: 40px;
  @include font($size: 1.8rem, $weight: 500);
  text-align: right;
  @extend %font-prim;
  text-align: right;
}

.right-column__text-highlighted {
  background: var(
    --gradient,
    linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @extend %font-prim;
  @include font($size: 1.8rem, $weight: 700);
  letter-spacing: 0.9px;
  text-transform: uppercase;
  text-align: right;
}

.left-column__text-highlighted {
  background: var(
    --gradient,
    linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @extend %font-prim;
  @include font($size: 4.8rem, $weight: 900);
  letter-spacing: 0.9px;
  text-align: right;
}

.grid-col-2__title {
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 6px;
  @extend %font-add;
}

.grid-col-2__text {
  text-align: right;
  margin: 0;
  @extend %font-prim;
}
