.col-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include media-mobilesmall {
    flex-direction: column;
    row-gap: 45px;
    text-align: left;
  }
}

.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 65px;

  @include media-mobilesmall {
    width: 100%;
    gap: 15px;
  }
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 330px;

  @include media-mobilesmall {
    width: 100%;
  }
}

.right-column__text {
  align-self: flex-end;
  margin-bottom: 40px;
  @include font($size: 1.8rem, $weight: 500);
  text-align: right;
  @extend %font-prim;

  @include media-mobilesmall {
    text-align: left;
    margin-bottom: 20px;
  }
}

.right-column__text-highlighted {
  background: var(
    --gradient,
    linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @extend %font-prim;
  @include font($size: 1.8rem, $weight: 700);
  letter-spacing: 0.9px;
  text-transform: uppercase;
  text-align: right;

  @include media-mobilesmall {
    text-align: left;
    text-transform: lowercase;
  }
}

.left-column__text-highlighted {
  background: var(
    --gradient,
    linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @extend %font-prim;
  @include font($size: 4.8rem, $weight: 900);
  letter-spacing: 0.9px;
  text-align: right;

  @include media-mobilesmall {
    @include font($size: 3.6rem, $weight: 900);
  }
}

.grid-col-2__title {
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 6px;
  @extend %font-add;

  @include media-mobilesmall {
    text-align: left;
    margin-bottom: 0;

    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.65px;
    text-transform: uppercase;
    &::before {
      content: '';
      margin-right: 4px;
      margin-bottom: 4px;
      width: 10px;
      height: 1px;
      display: inline-block;
      background-image: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
    }
  }
}

.grid-col-2__text {
  text-align: right;
  margin: 0;
  @extend %font-prim;

  @include media-mobilesmall {
    display: none;
  }
}
