.footer {
  margin: 60px 0 20px 0;

  @include media-mobilesmall {
    margin: 0;
  }
}

.footer__wrapper {
  @include media-mobilesmall {
    margin-bottom: 60px;
  }
}

.footer__contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include media-mobilesmall {
    flex-direction: column;
    align-items: flex-start;
  }
}

.layout-3-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 52px;
  @include media-mobilesmall {
    display: flex;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
  }
}

.item2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footer__links {
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0 0;

  @include media-mobilesmall {
    & > * {
      padding-bottom: 10px;
    }
  }
}

.footer__link {
  text-decoration: none;
  color: $color-text;
  cursor: pointer;

  @include font($size: 1.6rem, $weight: 400);
  @include media-mobilesmall {
    @include font($size: 1.4rem, $weight: 400, $height: normal);
  }
}

.footer__title {
  display: inline-block;
  color: $color-text-secondary;
  @include font($size: 1.4rem, $weight: 700);

  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.footer__contents-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include media-mobilesmall {
    align-items: flex-start;
    text-align: left;
    margin-top: 30px;
  }
}

.footer__links-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;

  @include media-mobilesmall {
    align-items: flex-start;
    gap: 0;
  }
}

.footer__link-address {
  @include font($weight: 400, $size: 1.6rem);
}

.footer__link-text {
  text-align: right;

  @include media-mobilesmall {
    padding: 0;
    margin: 0;
    @include font($weight: 400, $size: 1.4rem);
  }
}

.copyright {
  margin-top: 30px;
  align-self: flex-end;
  text-align: right;

  @include media-mobilesmall {
    @include font($weight: 400, $size: 1.2rem);
    text-align: left;
    gap: 5px;
  }
}

.link-decoration {
  text-decoration: underline;
  @extend %font-add;
  @include font($size: 1.2rem, $weight: 400);
}

.copyright__text {
  margin: 0 0 5px 0;
  @extend %font-add;
  @include font($size: 1.2rem, $weight: 400);
}
