.header {
  padding: 20px 0 0;
  height: 73px;

  @include media-mobile {
    padding: 0;
    height: 55px;
  }
}

.header__wrapper {
  height: 73px;

  @include media-mobile {
    margin-bottom: 0;
  }
}

.header__contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  position: relative;
  cursor: pointer;

  @include media-tablet {
    display: none;
  }
}

.header__logo-text {
  display: inline-block;
  color: $color-text;
  @include font($size: 1rem, $weight: 300, $height: normal);
  width: 165px;

  position: absolute;
  left: 0;
  top: 35px;
}

.header__navigation {
  margin: 0 133px 0 15px;
  width: 100%;

  @include media-laptop {
    margin: 0;
  }
}

.purple-ball {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 850px;

  @include media-laptop {
    top: 100px;
    left: 500px;
  }

  @include media-tablet {
    top: 290px;
    left: 290px;
    width: 40px;
    height: 40px;
    fill: radial-gradient(
      82.3% 82.3% at 27.25% 26.5%,
      rgba(236, 208, 255, 0.64) 0%,
      rgba(161, 93, 207, 0.24) 59.67%,
      rgba(118, 49, 164, 0.21) 78.59%,
      rgba(86, 24, 128, 0.23) 100%
    );

    filter: drop-shadow(3px 6px 27px rgba(177, 118, 217, 0.25)) blur(5px);
    backdrop-filter: blur(2px);
  }
}

.header__tel {
  display: inline-block;
  width: 100%;

  @include media-laptop {
    display: none;
  }
}
