.header {
  padding: 20px 0;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 9.4rem;
}

.header__logo {
  display: flex;
  position: relative;
}

.header__logo-text {
  display: inline-block;
  color: $color-text;
  @include font($size: 1rem, $weight: 300, $height: normal);
  width: 165px;

  position: absolute;
  left: 0;
  top: 35px;
}

.header__navigation {
  margin: 0 145px 0 15px;
}
