.header {
  padding: 20px 0;
  height: 73px;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9.4rem;
}

.header__logo {
  display: flex;
  position: relative;
}

.header__logo-text {
  display: inline-block;
  color: $color-text;
  @include font($size: 1rem, $weight: 300, $height: normal);
  width: 165px;

  position: absolute;
  left: 0;
  top: 35px;
}

.header__navigation {
  margin: 0 145px 0 15px;
}

.purple-ball {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 850px;

  filter: drop-shadow(3px 6px 27px rgba(177, 118, 217, 0.25)) blur(5px);
  backdrop-filter: blur(2px);
}
