.main {
  position: relative;
}

.highlighted-text {
  background: url(../img/with-WELBEX.svg) no-repeat;
  width: 247px;
  height: 58px;
  display: inline-block;
  margin-top: 10px;
}

.red-ball {
  width: 83px;
  height: 83px;
  flex-shrink: 0;

  filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25));
  backdrop-filter: blur(2px);

  position: absolute;
  top: 55px;
  left: 510px;
}

.red-ball__small {
  width: 28px;
  height: 28px;
  flex-shrink: 0;

  filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25)) blur(2.5px);
  backdrop-filter: blur(2px);

  position: absolute;
  top: 40vh;
  left: 710px;
}

.main__wrapper {
  margin-top: 74px;
}

.left-column__title {
  width: 362px;
}

.left-column__text {
  margin-top: 30px;
  width: 275px;
  @extend %font-add;
  @include font($size: 1.8rem, $weight: 400);
}

.right-column__text {
  width: 291px;
}
