.main {
  position: relative;
}

.highlighted-text {
  background: url(../img/with-WELBEX.svg) no-repeat;
  width: 247px;
  height: 58px;
  display: inline-block;
  margin-top: 10px;
}

.red-ball {
  width: 83px;
  height: 83px;
  flex-shrink: 0;

  position: absolute;
  top: 55px;
  left: 510px;

  @include media-laptop {
    top: 150px;
    left: 350px;
  }

  @include media-tablet {
    left: 50px;
  }

  @include media-mobile {
    top: 450px;
    left: 20px;
    width: 43px;
    height: 43px;

    fill: radial-gradient(
      82.3% 82.3% at 27.25% 26.5%,
      rgba(255, 208, 208, 0.54) 0%,
      rgba(212, 93, 93, 0.26) 59.67%,
      rgba(167, 49, 49, 0.25) 78.59%,
      rgba(130, 25, 25, 0.25) 100%
    );
    filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25));
    backdrop-filter: blur(2px);
  }
}

.red-ball__small {
  width: 28px;
  height: 28px;
  flex-shrink: 0;

  position: absolute;
  top: 37vh;
  right: 500px;

  @include media-laptop {
    display: none;
  }
}

.main__wrapper {
  margin-top: 105px;

  @include media-tablet {
    margin-top: 80px;
  }

  @include media-mobilesmall {
    margin-top: 40px;
  }
}

.left-column__title {
  width: 362px;
  flex-wrap: wrap;

  @include media-laptop {
    width: 200px;
  }

  @include media-tablet {
    width: 100%;
  }
}

.left-column {
  @include media-laptop {
    width: 200px;
  }

  @include media-tablet {
    width: 100%;
  }
}

.left-column__text {
  margin-top: 30px;
  width: 275px;
  flex-wrap: wrap;

  @extend %font-add;
  @include font($size: 1.8rem, $weight: 400);

  @include media-laptop {
    width: 200px;
    margin-top: 15px;
  }

  @include media-tablet {
    width: 100%;
  }

  @include media-mobile {
    width: 100%;
    @include font($size: 1.8rem, $weight: 400, $height: normal);
  }
}
