.ico {
  cursor: pointer;
  display: inline-block;
}

.ico_telegram {
  background-image: url('../img/telegram.svg');
  width: 20px;
  height: 20px;
}

.ico_viber {
  background-image: url('../img/viber.svg');
  width: 20px;
  height: 20px;
}

.ico_whatsup {
  background-image: url('../img/whatsapp.svg');
  width: 20px;
  height: 20px;
}
